$primary: #59D3C8;

$bg: #f8f9fa; //gray-100
$border: #495057; //gray-700
$color: #000; //black
$gray-200: #e9ecef !default;

$navHeight: 15vh;

//admin
$menuWidth: 140px;
$contentWidth: calc(100vw - 140px);
